[package]
name = "zenavif"
version = "0.1.0"
edition = "2024"
rust-version = "1.93"
license = "MIT OR Apache-2.0"
description = "Pure Rust AVIF image decoder powered by rav1d"
categories = ["multimedia::images"]
keywords = ["avif", "decoder", "av1", "image", "rav1d"]
repository = "https://github.com/imazen/zenavif"

[dependencies]
rav1d = { version = "1.1.0", default-features = false, features = ["bitdepth_8", "bitdepth_16"] }
avif-parse = "1.4.0"
yuv = "0.1.9"
imgref = "1.12.0"
rgb = { version = "0.8.91-alpha.3", default-features = false }
enough = "0.3.1"
thiserror = { version = "2.0", default-features = false }
whereat = "0.1.3"
log = "0.4"

[dev-dependencies]
env_logger = { version = "0.11", default-features = false }

[features]
default = ["asm"]
asm = ["rav1d/asm"]

[patch.crates-io]
yuv = { git = "https://github.com/lilith/yuv", branch = "rgb-0.8.91-compat" }
rgb = { git = "https://github.com/imazen/rust-rgb", branch = "fix-backward-compat-gray-types" }
